<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>PDF Output</title>
        <style>
            @page {
                size: "A4";
                margin: 2.5cm 1.5cm 3.5cm 1.5cm;

                @top-center {
                    content: "COMPANY NAME";
                }
            }



        </style>
    </head>
    <body>
        
        <h1>Quicksales</h1>
        
    </body>
</html>