{% load crispy_forms_tags  %}
<!-- Modal -->
<div class="modal fade" {% block modal-id %} id="TransferModal" {% endblock modal-id %} tabindex="-1" aria-labelledby="TransferModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h6 class="modal-title" id="TransferModalLabel">{% block modal-title %}<i class="fas fa-plus"></i>&nbsp;&nbsp; Transfer Inventory{% endblock modal-title %}</h6>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <!-- Forms begin -->
          <form {% block Action %} action="{% url 'transfer' %}" {% endblock Action %} method="POST" class="card p-3 border-dark mt-3" enctype="multipart/form-data">
              {% csrf_token %}

              <div class="modal-body">

                  <!-- Block Id -->
                  {% block Value-id %} {% endblock Value-id %}


                    <div class="mb-3">
                        <label for="product" class="form-label">Product</label>
                        <select id="id_product" name="transfer_from" class="form-select form-select-sm rounded-0" required {% block Value-transfer_from %} {% endblock Value-transfer_from %}>
                        {% if not inventory.product %}
                        <option value="" disabled selected>Select Product</option>
                        {% else %}
                        <option value="" disabled></option>
                        {% endif %}
                        {% for product in product %}
                            {% if inventory.product == product.id %}
                            <option value="{{ product.id }}" selected>{{ product.product_name }}</option>
                            {% else %}
                            <option value="{{ product.id }}">{{ product.product_name }}</option>
                            {% endif %}
                        {% endfor %}
                        </select>
                        <div class="m-3" style="color:red;">{{form.product.errors}}</div>
                      </div>

                      <div class="mb-3">
                        <label for="product" class="form-label">Product</label>
                        <select id="id_product" name="transfer_to" class="form-select form-select-sm rounded-0" required {% block Value-transfer_to %} {% endblock Value-transfer_to %}>
                        {% if not inventory.product %}
                        <option value="" disabled selected>Select Product</option>
                        {% else %}
                        <option value="" disabled></option>
                        {% endif %}
                        {% for product in product %}
                            {% if inventory.product == product.id %}
                            <option value="{{ product.id }}" selected>{{ product.product_name }}</option>
                            {% else %}
                            <option value="{{ product.id }}">{{ product.product_name }}</option>
                            {% endif %}
                        {% endfor %}
                        </select>
                        <div class="m-3" style="color:red;">{{form.product.errors}}</div>
                      </div>


                  <div class="mb-3">
                      <label for="quantity" class="form-label">Quantity</label>
                      <input name="quantity_transfered" type="text" class="form-control" placeholder="Quantity" required {% block Value-quantity_transfered %} {% endblock Value-quantity_transfered %}>
                  </div>

                  <div class="mt-4 text-center" style="width:100%;">
                      <button type="submit" class="btn btn-secondary">
                          {% block Btn-action %}<i class="fas fa-plus"></i>&nbsp;&nbsp; Make Transfer{% endblock Btn-action %}
                      </button>

                      <button type="reset" class="btn btn-secondary" title="Reset">
                          <i class="fas fa-sync-alt"></i>
                      </button>
                  </div>
              </div>
          </form>
          <!-- Form ends -->
      </div>
  </div>
</div>


